<%= simple_form_for :certificate_pair, url: user_pair_path(@user),
  html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :type, collection: %w{RSA DSA}, selected: 'RSA' %>
  <%= f.input :length, collection: %w{1024 2048 4096}, selected: '2048' %>
  <%= f.input :comment %>
  <%= f.input :passphrase, as: :password %>
  <%= f.input :passphrase_confirmation, as: :password %>
  <h2>Now what?</h2>
  When you click "Generate Certificate Pair", three things happen:
  <ol>
    <li>A new public/private certificate key-pair is generated.</li>
    <li>The public key is automatically added to your Keyhog certificates.</li>
    <li>The private key is immediately downloaded to your computer.</li>
  </ol>
  It's important to note that this is your only opportunity to download this private key, and for good reason! For your security, your private key is never stored at Keyhog. We generate the key, and send it to you on-th-fly--your private key is never stored in our database.
  <div class="form-actions">
    <%= f.button :submit, 'Generate Certificate Pair', :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
